---
---

<div class="arkanoid-container">
  <canvas class="arkanoid-canvas"></canvas>
  <img id="sprite" src="/Arkanoid/images/sprite.png" style="display:none;" />
  <img id="bricks" src="/Arkanoid/images/bricks.png" style="display:none;" />
</div>

<script type="module" src="/Arkanoid/Arkanoid.js"></script>
